.card{
    margin: 5px;
    border-radius: 8px;
    width: 600px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: hsla(205, 46%, 40%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 50%, 1) 0%,  hsla(220, 29%, 36%, 1) 100%);
}
.form-text{
    color: rgb(196, 196, 196);
}
.form-label,h1,h6{
    color: rgb(255, 255, 255);
    font-weight: 400;
}