<nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">SURVEYORS' DIARY</span>
        <span class="navbar-brand mb-2 h4">
            <button routerLink="/head" class="btn btn-outline-info">Home</button>
        </span>
    </div>
</nav>
<div>
</div>
<div class="container mt-4 mb-4">
    <h3>Completed Task List</h3>
    <table class="table mt-4 mb-3">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Task</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Report</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Task 1</td>
                <td>02/01/2023</td>
                <td>25/01/2023</td>
                <td>
                    <button type="submit" class="btn btn-info">Progress</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Task 2</td>
                <td>12/01/2023</td>
                <td>28/01/2023</td>
                <td>
                    <button type="submit" class="btn btn-info">Progress</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>


</div>