<nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">SURVEYORS' DIARY</span>
        <span class="navbar-brand mb-2 h4">
            <button routerLink="/head" class="btn btn-outline-info">Home</button>
        </span>
    </div>
</nav>
<div class="container mt-4 mb-4">
    <h3>ADD NEW PROJECT</h3>
    <form [formGroup]="addForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControl">Project Name</label>
            <input formControlName="Name" type="text" class="form-control" id="exampleFormControLocation" minlength="2"
                maxlength="30">
        </div>
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControl">Select the Project Type</label>
            <select formControlName="ProjectType" class="form-control" id="exampleFormControlSelect2">
                <option disabled selected>-Select one-</option>
                <option>TOPO Survey</option>
                <option>ICS</option>
                <option>Setting out Survey</option>
                <option>Photogrammetry/Drone Survey</option>
                <option>RTK Survey</option>
                <option>Controle Traverse Survey</option>
                <option>Hydrographic surveying</option>
            </select>
        </div>
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControl">Description of the Project</label>
            <input type="text" formControlName="Description" class="form-control" id="exampleFormControlTextarea1">
        </div>
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControl">Location</label>
            <input formControlName="Location" type="text" class="form-control" id="exampleFormControLocation"
                minlength="2" maxlength="30">
        </div>
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControl">Submission Date</label>
            <input formControlName="SubDate" type="date" class="form-control" id="exampleFormControlNumber">
        </div>
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControl">Number of Survey Helpers</label>
            <input formControlName="SurveyHelpers" type="number" class="form-control" id="exampleFormControLocation"
                min=1 max=10>
        </div>
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControl">Instruments</label><br>
            <select formControlName="model"  class="form-control" id="exampleFormControlSelect2">
                <option disabled selected>-Select one-</option>
                <option >Total Station</option>
                <option >Auto Level</option>
                <option >RTK/ GPS Set</option>
                <option >Handheld GPS</option>
                <option >Drone (LS/ PS)</option>
                <option >Multibeam/ Side Scan Sonars</option>
                <option >UUV/ USV/ UAV liDAR</option>
            </select>
        </div>
        <!--
            <div  class="form-check">
                <input formControlName="model" class="form-check-input" type="checkbox" name="model" value="Total Station" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">Total Station</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Auto Level" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">Auto Level</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="RTK/ GPS Set" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">RTK/ GPS Set</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Handheld GPS" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">Handheld GPS</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Drone (LS/ PS)" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">Drone (LS/ PS)</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Multibeam/ Side Scan Sonars" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">Multibeam/ Side Scan Sonars</label>
              </div>
              <div class="form-check">
                <input  class="form-check-input" type="checkbox" value="UUV/ USV/ UAV liDAR" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">UUV/ USV/ UAV liDAR</label>
              </div>
          -->


        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControlTextarea1">Set Reminder</label><br>
            <select formControlName="Reminder" class="form-control">
                <option disabled selected>-Select one-</option>
                <option >Email</option>
                <option >SMS</option>
                <option disabled>Phone Call</option>

            </select>
            <!--
            <div class="form-check form-switch">
                <input formControlName="Reminder" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                    name="Reminder" value="Email" checked>
                <label class="form-check-label" for="flexSwitchCheckDefault">Email</label>
            </div>
            <div class="form-check form-switch">
                <input formControlName="Reminder" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                    name="Reminder" value="SMS">
                <label class="form-check-label" for="flexSwitchCheckChecked">SMS</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Reminder[]"
                    value="Phone call" disabled>
                <label class="form-check-label" for="flexSwitchCheckDisabled">Phone Call</label>
            </div>-->

        </div>
        <button type="submit" [disabled]="!addForm.valid" class="btn btn-primary">Submit</button>
    </form>

</div>