.container{
    width: 600px;
    border-radius: 6px; 
    padding: 8px;
    border: 1px solid rgb(77, 116, 245);
}

.form-group{
    width: 570px;
    border-radius: 6px; 
    padding: 8px;
    border: 1px solid rgb(77, 116, 245);
    margin: 25px 5px 5px 5px;
    
}

h3{
    text-align: center;
    color: rgb(15, 24, 78);
    padding-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-primary{
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    display: grid;
    margin: auto;
    margin-top: 10px;
}
.exampleFormControl{
    color: rgb(15, 24, 78);
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding: 4px;
    margin-bottom: 15px;
}
.form-check-label{
    color: rgb(15, 24, 78);
    font-size: 16px;
    font-weight: 500;

}