<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="background">
                <h2 class="welcom1">SURVEYORS' E-DIARY</h2><br>
                <h6 class="welcom2">This is simple online management system for Surveyors. Which is mostly used in Surveying field.</h6>

            </div>
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter email & password</h6>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Enter Email">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email') ">*Email ID is required</span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1"  placeholder="Enter Password" maxlength="15" minlength="8">
                        <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password') ">*Password is required</span>
                    </div>
                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
                </form>
                <a style="color: white; margin-top: 10px;" routerLink="/singup">New user? Click to Singup!</a>
            </div>
        </div>

    </div>
</div>
